/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/Http/Controllers/Client/TestController.php
database/example.sql
database/orders.sql
database/products.sql
database/users.sql
resources/views/welcome-copy.blade.php
